In [7]:
# ans 1
list1=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
list2=[]
list3=[]
for i in range(4):
    for j in range(2):

        if type(list1[i][j])==int:
            list2.append(list1[i][j])
        else:
            list3.append(list1[i][j])         
list2.sort(key=lambda x:x)
list2

[24936, 25534, 27483, 34357]

In [8]:
# ans 2  
list2=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x: x**2,list2))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
##answer num 3 is
given_list=[1,2,3,4,5,6,7,8,9,10]
tuple(map(lambda x:str(x),given_list))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [10]:
## ans 4  below
from functools import reduce
list3=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
reduce(lambda x,y:x*y,list3)

15511210043330985984000000

In [11]:
##ans 5
list3=[1,2,3,4,5,6,7,8,9,10,11,12]
list(filter(lambda x:x%2==0 and x%3==0,list3))

[6, 12]

In [12]:
##ans 6 is
list1=['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda x:x if x==x[::-1] else False,list1 ))

['php', 'aba', 'radar', 'level']