In [ ]:
##ques1
##part i
var_str = "this is a string variable"
type(var_str)

str

In [132]:
##ques 1
##part ii
list_var = [1,2]
type(list_var)

list

In [133]:
##ques1
##part iii
flt_var = 1.1
type(flt_var)

float

In [135]:
##ques1
##part iv
tuple_variable = (1,"string")
type(tuple_variable)

tuple

ques2 answers
i answer is string
ii answer is string
iii answer is list 
iv answer is integer

In [139]:
## ques 3 part i gives us quotient
28/5

5.6

In [140]:
##ques 3 part ii gives us remainder
28%5

3

In [141]:
##ques 3 part iii gives us quotient without decimal places in integer
28//5

5

In [142]:
##ques 3 part iv gives us calculated answer by raising data to power given 
##eg for 2 raised to power 9
2**9

512

In [48]:
list1=[1,2,1.156,'stringdata',(1,2),{'one':"1",'two':"2"},3+6j,1,1.2,101]##ques 4
for var in list1:
    print(var)
    print(type(var))

1
<class 'int'>
2
<class 'int'>
1.156
<class 'float'>
stringdata
<class 'str'>
(1, 2)
<class 'tuple'>
{'one': '1', 'two': '2'}
<class 'dict'>
(3+6j)
<class 'complex'>
1
<class 'int'>
1.2
<class 'float'>
101
<class 'int'>

In [49]:
len( list1   )

10

In [1]:
a=int(input("enter number A to check its divisibility with B"))
b=int(input("enter B here to check the divisibility"))              ##question number v or 5
while True:
    if a%b == 0:
        print('divisible')
        print(a//b)
        print('times')
        break
    else :
        print(a,"is not divisible by given number ",b) 
        break

divisible
4
times

In [2]:
list2=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in range(0,25):                                                      ## ques number 6
    if list2[i]%3 == 0:
        print(list2[i], "is divisible by 3")
    else:
        print(list2[i]," is not divisible by num 3.0")

1  is not divisible by num 3.0
2  is not divisible by num 3.0
3 is divisible by 3
4  is not divisible by num 3.0
5  is not divisible by num 3.0
6 is divisible by 3
7  is not divisible by num 3.0
8  is not divisible by num 3.0
9 is divisible by 3
10  is not divisible by num 3.0
11  is not divisible by num 3.0
12 is divisible by 3
13  is not divisible by num 3.0
14  is not divisible by num 3.0
15 is divisible by 3
16  is not divisible by num 3.0
17  is not divisible by num 3.0
18 is divisible by 3
19  is not divisible by num 3.0
20  is not divisible by num 3.0
21 is divisible by 3
22  is not divisible by num 3.0
23  is not divisible by num 3.0
24 is divisible by 3
25  is not divisible by num 3.0

In [3]:
'''ques   7'''
'''in mutable data type the data element at given index can be changed or you can over rite that whereas in immutable data type data at an index can not change '''
list1=[1,2]
print(list1[0])

list1[0]=938377
print('updated value')
print(list1[0])

1
updated value
938377

In [4]:
str_variable='immutable'
str_variable[0]

'i'

In [5]:
str_variable[0]='h'

TypeError: 'str' object does not support item assignment